<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Library</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <h1 id="title">Home Library</h1>
    <p id="short_desc">Insert really short description here</p>

    <input id="zip_code" class="textbox" type="text" placeholder="01234">
    <button type="button" onclick="search_books()" class="search_button">Search</button>

    <div id="options">
        <button type="button" onclick="location.href='login'">Login</button>
        <button type="button" onclick="location.href='signup'">Sign Up</button>
    </div>
    <div id="content">
        <div id="filter_container">
            Book Name :  <input id="book_name" class="textbox filter" type="text" placeholder="Name"><br>
            Author Name :  <input id="author_name" class="textbox filter" type="text" placeholder="John Doe">
            <button type="button" onclick="search_books()" class="search_button">Search</button>
        </div>
        <div id="book_container">
            <div class="book">
                <h2 class="book_title"> Book Title </h2>
                <h3 class="author"> By author </h3>
                <p class="book_desc"> Aute eu commodo dolor tempor laboris ex. Laboris velit qui exercitation enim sunt cupidatat do ipsum sit est duis mollit. Occaecat ea veniam labore non cupidatat excepteur qui laborum aliqua occaecat occaecat reprehenderit et minim nisi. </p>
                <button type="button" class="request_book">Request</button>
            </div>
        </div>
    </div>
</body>
</html>